*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-principal{
    background-color: rgb(97, 96, 96); 
    height: 40px;
    display: flex;
    align-items: center;
    
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
li::after{
    content: " | ";
}
li:last-child::after{
    content: " ";
}
a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
body{
    background-color: black;
    color: white;
}
h2::after{
    padding:20px;
    background-image:url(img.jpeg);
}
img,button {
    border-radius: 20px;

}
footer{
    background-color: antiquewhite;
    
}
h3::before{
    content: "👾";
}
.section-botton{
    border-radius: 20px;
    background-color: gray; 
    text-align:center ;
}

.section-botton:hover{
    background-color: black;
    color: white;
}
